.elementor-7856 .elementor-element.elementor-element-a742b62 iframe {
	height: 540px;
	filter: brightness( 122% ) contrast( 92% ) saturate( 33% ) blur( 0px ) hue-rotate( 321deg );
}

.elementor-7856 .elementor-element.elementor-element-1229915 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	align-content: flex-start;
	align-items: flex-start;
}

.elementor-7856 .elementor-element.elementor-element-1229915:not(.elementor-motion-effects-element-type-background), .elementor-7856 .elementor-element.elementor-element-1229915 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #F1F6FC;
}

.elementor-7856 .elementor-element.elementor-element-1229915 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 100px 0px 100px 0px;
}

.elementor-7856 .elementor-element.elementor-element-1229915 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7856 .elementor-element.elementor-element-2d96f30 > .elementor-element-populated >  .elementor-background-overlay {
	opacity: 0.7;
}

.elementor-7856 .elementor-element.elementor-element-2d96f30 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-7856 .elementor-element.elementor-element-2d96f30 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7856 .elementor-element.elementor-element-026c822:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-7856 .elementor-element.elementor-element-026c822 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-026c822 > .elementor-element-populated, .elementor-7856 .elementor-element.elementor-element-026c822 > .elementor-element-populated > .elementor-background-overlay, .elementor-7856 .elementor-element.elementor-element-026c822 > .elementor-background-slideshow {
	border-radius: 0px 0px 0px 0px;
}

.elementor-7856 .elementor-element.elementor-element-026c822 > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 60px 60px 60px 60px;
}

.elementor-7856 .elementor-element.elementor-element-026c822 > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7856 .elementor-element.elementor-element-598955f .rs-heading {
	text-align: left;
}

.elementor-7856 .elementor-element.elementor-element-598955f .rs-heading .title-inner .sub-text {
	font-size: 16px;
	text-transform: uppercase;
}

.elementor-7856 .elementor-element.elementor-element-598955f > .elementor-widget-container {
	padding: 30px 30px 30px 30px;
}

.elementor-7856 .elementor-element.elementor-element-703721f ::-webkit-input-placeholder {
	color: #A19E9E;
}

.elementor-7856 .elementor-element.elementor-element-703721f ::-moz-placeholder {
	color: #A19E9E;
}

.elementor-7856 .elementor-element.elementor-element-703721f ::-ms-input-placeholder {
	color: #A19E9E;
}

.elementor-7856 .elementor-element.elementor-element-703721f .wpcf7-form-control:not(.wpcf7-submit) {
	border-style: solid;
	border-width: 0px 0px 5px 0px;
	border-color: #FFFFFF;
	background-color: #F1F6FC;
}

.elementor-7856 .elementor-element.elementor-element-703721f .wpcf7-submit {
	background-color: #1273EB;
	padding: 17px 30px 17px 30px;
	font-size: 16px;
}

.elementor-7856 .elementor-element.elementor-element-703721f .wpcf7-submit:hover, .elementor-7856 .elementor-element.elementor-element-703721f .wpcf7-submit:focus {
	background-color: rgba(15, 109, 211, 0.8705882352941177);
}

.elementor-7856 .elementor-element.elementor-element-173d8ee:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-7856 .elementor-element.elementor-element-173d8ee > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-173d8ee > .elementor-element-populated, .elementor-7856 .elementor-element.elementor-element-173d8ee > .elementor-element-populated > .elementor-background-overlay, .elementor-7856 .elementor-element.elementor-element-173d8ee > .elementor-background-slideshow {
	border-radius: 0px 0px 0px 0px;
}

.elementor-7856 .elementor-element.elementor-element-173d8ee > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 50px 50px 50px;
}

.elementor-7856 .elementor-element.elementor-element-173d8ee > .elementor-element-populated > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7856 .elementor-element.elementor-element-a6bedad .rs-heading {
	text-align: left;
}

.elementor-7856 .elementor-element.elementor-element-a6bedad .rs-heading .title-inner .title {
	font-weight: 700;
	color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-a6bedad .rs-heading .title-inner .sub-text {
	font-size: 16px;
	text-transform: uppercase;
}

.elementor-7856 .elementor-element.elementor-element-a6bedad > .elementor-widget-container {
	padding: 50px 50px 50px 50px;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4.elementor-view-stacked .elementor-icon {
	background-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4.elementor-view-framed .elementor-icon, .elementor-7856 .elementor-element.elementor-element-07a74a4.elementor-view-default .elementor-icon {
	fill: #1273EB;
	color: #1273EB;
	border-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4.elementor-position-right .elementor-icon-box-icon {
	margin-left: 25px;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4.elementor-position-left .elementor-icon-box-icon {
	margin-right: 25px;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 25px;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon {
	font-size: 40px;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon-box-title {
	margin-bottom: 5px;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon-box-content .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon-box-content .elementor-icon-box-title, .elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon-box-content .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
}

.elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon-box-content .elementor-icon-box-description {
	color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3.elementor-view-stacked .elementor-icon {
	background-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3.elementor-view-framed .elementor-icon, .elementor-7856 .elementor-element.elementor-element-04c7bd3.elementor-view-default .elementor-icon {
	fill: #1273EB;
	color: #1273EB;
	border-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3.elementor-position-right .elementor-icon-box-icon {
	margin-left: 25px;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3.elementor-position-left .elementor-icon-box-icon {
	margin-right: 25px;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 25px;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon {
	font-size: 40px;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon-box-title {
	margin-bottom: 5px;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon-box-content .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon-box-content .elementor-icon-box-title, .elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon-box-content .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
}

.elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon-box-content .elementor-icon-box-description {
	color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4.elementor-view-stacked .elementor-icon {
	background-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4.elementor-view-framed .elementor-icon, .elementor-7856 .elementor-element.elementor-element-e2c27f4.elementor-view-default .elementor-icon {
	fill: #1273EB;
	color: #1273EB;
	border-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4.elementor-position-right .elementor-icon-box-icon {
	margin-left: 25px;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4.elementor-position-left .elementor-icon-box-icon {
	margin-right: 25px;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 25px;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon {
	font-size: 40px;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon-box-title {
	margin-bottom: 5px;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon-box-content .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon-box-content .elementor-icon-box-title, .elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon-box-content .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon-box-content .elementor-icon-box-description {
	color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3.elementor-view-stacked .elementor-icon {
	background-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3.elementor-view-framed .elementor-icon, .elementor-7856 .elementor-element.elementor-element-7a91fb3.elementor-view-default .elementor-icon {
	fill: #1273EB;
	color: #1273EB;
	border-color: #1273EB;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3.elementor-position-right .elementor-icon-box-icon {
	margin-left: 25px;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3.elementor-position-left .elementor-icon-box-icon {
	margin-right: 25px;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3.elementor-position-top .elementor-icon-box-icon {
	margin-bottom: 25px;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon {
	font-size: 40px;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon-box-wrapper {
	text-align: left;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon-box-title {
	margin-bottom: 5px;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon-box-content .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon-box-content .elementor-icon-box-title, .elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon-box-content .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
}

.elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon-box-content .elementor-icon-box-description {
	color: #FFFFFF;
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-7856 .elementor-element.elementor-element-026c822 {
		width: 100%;
	}

	.elementor-7856 .elementor-element.elementor-element-173d8ee {
		width: 100%;
	}
}

@media(max-width:1024px) {
	.elementor-7856 .elementor-element.elementor-element-1229915 {
		padding: 10px 0px 50px 0px;
	}

	.elementor-7856 .elementor-element.elementor-element-2d96f30 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-7856 .elementor-element.elementor-element-af87cff {
		padding: 50px 20px 30px 20px;
	}

	.elementor-7856 .elementor-element.elementor-element-026c822 > .elementor-element-populated {
		padding: 40px 20px 40px 20px;
	}
}

@media(max-width:767px) {
	.elementor-7856 .elementor-element.elementor-element-1229915 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-7856 .elementor-element.elementor-element-af87cff {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 60px 15px 60px 15px;
	}

	.elementor-7856 .elementor-element.elementor-element-173d8ee > .elementor-element-populated {
		margin: 60px 0px 0px 0px;
		padding: 40px 15px 40px 15px;
	}

	.elementor-7856 .elementor-element.elementor-element-07a74a4 .elementor-icon-box-icon {
		margin-bottom: 25px;
	}

	.elementor-7856 .elementor-element.elementor-element-04c7bd3 .elementor-icon-box-icon {
		margin-bottom: 25px;
	}

	.elementor-7856 .elementor-element.elementor-element-e2c27f4 .elementor-icon-box-icon {
		margin-bottom: 25px;
	}

	.elementor-7856 .elementor-element.elementor-element-7a91fb3 .elementor-icon-box-icon {
		margin-bottom: 25px;
	}
}